.App {
  text-align: center;
}

.icono{
  border-radius: 10px;
}

a{
  color: black;
  text-decoration: none;
}


.navTodo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #a9a9a9a6;
}


.navL{
  display: flex;
  justify-content: space-between;
}

.navL li{
  list-style: none;
  padding-left: 10px;
}

.logoNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoNav img{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.cardTodo{
  display: grid;
  justify-content: center;
  border-style: none;

}

.cardTodo img{

  border-style: none;

}

.row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 20px;
  padding-top: 20px ;
}

.button-efect{
   border-style: none;
   border-radius: 5px ;
}

.button-efect:hover{
  color:#ff7f50
}

.cardItem{
  width: 30rem;
}

.cardItem img{
  height: 300px;
  width: 250px;
}